.blue {
    color: #005BB9;
}

.darkblue {
    background: #0F2438;
}

p, h2, h3, h4, h5{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.section_text p, .section_text h3 {
    color: #0F2438;
}

.section_text h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.logo_text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

a:hover {
    color: white;
}

.body {
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_section p a {
    color: white;
    text-decoration: underline;
}

.nav_section p, .dropdown button, .nav_menu p  {
    font-size: 14px;
    line-height: 16px;
    color: white;
}

.else_menu {
    display: none;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navigation {
    max-width: 1400px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.nav_section img {
    margin-right: 3px;
}

.nav_dropdowns {
    display: flex;
    align-items: center;
    margin-right: 307px;
}

.btn-primary, .btn-primary:hover {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.header_top_section {
    display: flex;
}

.header_top {
    margin-top: 27px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_top_max_width {
    position: relative;
    max-width: 1400px;
    column-gap: 83px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timer {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.logo {
    width: 66px;
    height: 71px;
}

.align_section {
    text-align: end;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.contact_form:hover {
    color: #0F2438;
}

.contact_form {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
}

.contact_number:hover {
    color: #005BB9;
    opacity: 0.5;
    text-decoration: none;
}

.contact_number {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
    text-decoration: none;
}

.header_top_form {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.whatsapp {
    width: 204px;
    height: 30px;
    background-color: #E1EFD0;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
}

.whatsapp p {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.catalog {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;
}

.srch_hdn {
    display: none;
}

.catalog p {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: white;
}

.catalog img {
    width: 20px;
    height: 13px;
    margin-right: 12px;
}

.cabinet_twist {
    display: flex;
    align-items: center;
}

.form-control {
    width: 549px;
    height: 53px;
    background: #F4F5FA;
    border-radius: 6px 0px 0px 6px;
}

.header_bottom {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.search_button {
    margin-right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    width: 101px;
    background-color: #005BB9;
    border-radius: 0px 6px 6px 0px;
}

.search_button p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: white;
}

.cabinet {
    display: flex;
    align-items: center;
}

.cabinet img {
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

.cabinet p {
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.cart_text {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: start;
}

.vertical_line {
    background-color: rgba(225, 229, 248, 1);
    width: 1px;
    height: 28px;
    margin-left: 15px;
    margin-right: 15px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.twister {
    display: flex;
}

.carousel.slide {
    margin-right: 10px;
    width: 1000px;
    height: 390px;
    background: url("img/roll_backgrnd.png");
    border-radius: 20px;
}

.clutch {
    width: 417px;
    height: 356px;
}

.carousel-item.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-indicators .active {
    background: url("img/active_round.png") center no-repeat;
}

.carousel-indicators .unactive {
    background: url("img/unactive_round.png") center no-repeat;
}

.carousel-control-prev-icon {
    background: url("img/car_pointer_left.png") center no-repeat;
    background-size: 80px;
}

.carousel-control-next-icon {
    background: url("img/carousel_pointer.png") center no-repeat;
    background-size: 80px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 80px;
    height: 80px;
}

.car_item_1_text h3 {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
}

.car_item_1_text h4 {
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}

.car_item_1_text_small {
    display: flex;
    align-items: center;
}

.car_item_1_text_small h2 {
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}

.car_item_1_text_small p {
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.incart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
}

.incart img {
    margin-right: 10px;
}

.incart p {
    font-size: 16px;
    line-height: 19px;
    color: white;
}

.rolling_small_block {
    width: 336px;
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;
}

.akcia p {
    padding-top: 20px;
    padding-left: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.else {
    padding-left: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.else img {
    width: 80px;
    height: 74px;
    margin-right: 15px;
}

.twist {
    display: flex;
    align-items: center;
    justify-content: center;
}

.roll_kart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
}

.roll_kart img {
    width: 17px;
    height: 17px;
    margin: 0;
}

.rolling_small_block_text h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}

.rolling_small_block_text h5 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.rolling_small_block_text h3 {
    margin-right: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.twist p {
    margin-right: 32px;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.rolling_section {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.rolling_twist {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.scrolling_sections {
    position: relative;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 1350px;
    display: flex;
    justify-content: space-between;
}

.scroll_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 431px;
    height: 184px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}

.scroll_text h3 {
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
    color: #0A1A2C;
}

.scroll_text p {
    margin-bottom: 12px;
    margin-left: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}

.scroll_section img {
    width: 154px;
    height: 185px;
}

.go_to {
    margin-left: 30px;
    width: 86px;
    height: 26px;
    background: #005BB9;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go_to p {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: #FFFFFF;
}

.scroll_pointer_left {
    position: absolute;
    left: -40px;
    top: 52px;
}

.scroll_pointer_right {
    position: absolute;
    right: -40px;
    top: 52px;
}

.products_grid {
    width: 1350px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.buttons_group {
    display: flex;
    column-gap: 20px;
    margin-bottom: 30px;
}

.frst_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 241px;
    height: 55px;
    background: #005BB9;
    border-radius: 6px;
}

.frst_btn p {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.scnd_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 55px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}

.scnd_btn p, .thrd_btn p {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
}

.thrd_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 229px;
    height: 55px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}

.grid_prods {
    width: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.grid_prod {
    margin-bottom: 60px;
}



.star {
    display: flex;
    margin-right: 10px;
}

.star img {
    width: 16px;
    height: 16px;
}

.star p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
}

.star_comments {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.reviews {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
}

.grid_prod_text h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
    margin-bottom: 46px;
}

.grid_prod_text h4 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.zapros {
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}

.grid_buy {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.buy img {
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.buy p {
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.media_menu {
    display: none;
    height: 60px;
}

.buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
}

.cennik {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 15px;
}

.prod_size {
    height: 216px;
}

.grid_prod_text h5 {
    margin-bottom: 42px;
}

.cennik h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;
}

.cennik h4 {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.show_more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    width: 187px;
    height: 49px;
    background: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}

.show_more p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #005BB9;
}

.news {
    width: 1350px;
    margin-bottom: 15px;
    display: flex;
    justify-content: start;
}

.news p {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.preheader_line {
    width: 100%;
    height: 9px;
    background: #F5F5F5;
}

.line_round {
    position: absolute;
    top: -29px;
    left: 52px;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: #0C1A2A;
}

.line_line {
    position: absolute;
    top: -20px;
    left: 56px;
    width: 1px;
    height: 20px;
    background: #0C1A2A;
}

.footer {
    width: 1350px;
    display: flex;
    justify-content: space-between;
}

.footer_section {
    margin-top: 20px;
}

.date_block {
    display: flex;
    justify-content: left;
    align-items: start;
    position: relative;
    width: 106px;
    height: 22px;
    background: #0C1A2A;
    border-radius: 4px;
    margin-bottom: 15px;
}

.date_block p {
    text-align: center;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer_section a {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
}

.footer_section h5 {
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
    margin-bottom: 120px;
}

.podfooter {
    height: 370px;
    display: flex;
    justify-content: center;
    background-color: #0C1A2A;
    width: 100%;
}

.podfooter_main {
    width: 1350px;
    display: flex;
    justify-content: space-between;
}

.podfooter_section p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
    color: #FFFFFF;
}

p.padai {
    margin-top: 45px;
}

.contact_info {
    max-width: 480px;
    flex-wrap: wrap;
    align-content: flex-start;
    display: flex;
}

.subsribe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 40px;
    background: #005BB9;
    border-radius: 0px 6px 6px 0px;
}

.subsribe p {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.adress p, .email a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.email {
    display: flex;
    margin-bottom: 23px;
    flex-direction: column;
    margin-right: 107px;
}

.podfooter_section h3, .contacts h3, .adress h3  {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
    margin-top: 36px;
    color: #868DAC;
}

.return_form {
    display: flex;
    align-content: center;
}

.return_form h3, .subsription h5 {
    margin-right: 23px;
    margin-bottom: 23px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #858CAB;
}

.return_form h4 {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.form-control.ftr {
    width: 293px;
    height: 40px;
    background: transparent;
    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px 0 0 6px;
}

.subscription_input {
    display: flex;
}

.social_medias {
    width: 100%;
}

.img_row {
    margin-top: 27px;
    margin-right: 10px;
    display: flex;
    column-gap: 55px;
    justify-content: end;
    align-items: center;
}

.facebook {
    width: 10px;
    height: 20px;
}

.telegram {
    width: 22px;
    height: 18px;
}

.tweeter {
    width: 20px;
    height: 16px;
}

.google {
    width: 26px;
    height: 26px;
}

.copyrights {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 38px;
    background-color: #0C1A2A;
}

.avt {
    width: 1350px;
    display: flex;
    justify-content: start;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #737E9B;
}







